COMPOSE_PROJECT_NAME=nathabee-world-dev

WORDPRESS_CLI_IMAGE=wordpress:cli
WORDPRESS_IMAGE=wordpress
MARIADB_IMAGE=mariadb:lts
WP_DEBUG=1

NW_PORT=8081
NW_SITE_URL=http://localhost:8081/
NW_DB_NAME=nathabee_wordpress
NW_DB_USER=nathabee_wordpress_user
NW_DB_PASSWORD=change_me_dev_nw_db_password
NW_DB_ROOT_PASSWORD=change_me_dev_nw_root_password
NW_WP_FILES_MOUNT=./runtime/nathabee_wordpress:/var/www/html

ORTHO_PORT=8082
ORTHO_SITE_URL=http://localhost:8082/
ORTHO_DB_NAME=orthopedagogie
ORTHO_DB_USER=orthopedagogie_user
ORTHO_DB_PASSWORD=change_me_dev_ortho_db_password
ORTHO_DB_ROOT_PASSWORD=change_me_dev_ortho_root_password
ORTHO_WP_FILES_MOUNT=./runtime/orthopedagogie:/var/www/html

TREGOR_PORT=8083
TREGOR_SITE_URL=http://localhost:8083/
TREGOR_DB_NAME=orthopedagogiedutregor
TREGOR_DB_USER=orthopedagogiedutregor_user
TREGOR_DB_PASSWORD=change_me_dev_tregor_db_password
TREGOR_DB_ROOT_PASSWORD=change_me_dev_tregor_root_password
TREGOR_WP_FILES_MOUNT=wp_orthopedagogiedutregor_data:/var/www/html
