COMPOSE_PROJECT_NAME=nathabee-lab-dev

WORDPRESS_CLI_IMAGE=wordpress:cli
WORDPRESS_IMAGE=wordpress
MARIADB_IMAGE=mariadb:lts
POSTGRES_IMAGE=postgres:16
PYTHON_IMAGE=python:3.12-slim
WP_DEBUG=1
 
DEMOWP_PORT=8085
DEMOWP_SITE_URL=http://localhost:8085/
DEMOWP_DB_NAME=demo_wordpress
DEMOWP_DB_USER=demo_wordpress_user
DEMOWP_DB_PASSWORD=change_me_dev_demo_wordpress_db_password
DEMOWP_DB_ROOT_PASSWORD=change_me_dev_demo_wordpress_root_password
DEMOWP_WP_FILES_MOUNT=./runtime/demo_wordpress:/var/www/html

DEMOFS_WP_PORT=8086
DEMOFS_SITE_URL=http://localhost:8086/
DEMOFS_DB_NAME=demo_fullstack
DEMOFS_DB_USER=demo_fullstack_user
DEMOFS_DB_PASSWORD=change_me_dev_demo_fullstack_db_password
DEMOFS_DB_ROOT_PASSWORD=change_me_dev_demo_fullstack_root_password
DEMOFS_WP_FILES_MOUNT=./runtime/demo_fullstack:/var/www/html
DEMOFS_DJANGO_PORT=8096
DEMOFS_DJANGO_CODE_MOUNT=./runtime/demo_fullstack_django:/django
DEMOFS_DJANGO_DB_NAME=demo_fullstack_django
DEMOFS_DJANGO_DB_USER=demo_fullstack_django_user
DEMOFS_DJANGO_DB_PASSWORD=change_me_dev_demo_fullstack_django_db_password
DEMOFS_DJANGO_SETTINGS_MODULE=config.settings
DEMOFS_DJANGO_SECRET_KEY=change_me_dev_demo_fullstack_django_secret
DEMOFS_DJANGO_ENV_FILE=./runtime/demo_fullstack_django/.env.dev