COMPOSE_PROJECT_NAME=nathabee-world-prod

WORDPRESS_CLI_IMAGE=wordpress:cli
WORDPRESS_IMAGE=wordpress
MARIADB_IMAGE=mariadb:lts
WP_DEBUG=0

NW_PORT=18081
NW_SITE_URL=https://nathabee.de/
NW_DB_NAME=nathabee_wordpress
NW_DB_USER=nathabee_wordpress_user
NW_DB_PASSWORD=change_me_prod_nw_db_password
NW_DB_ROOT_PASSWORD=change_me_prod_nw_root_password
NW_WP_FILES_MOUNT=./runtime/nathabee_wordpress:/var/www/html

ORTHO_PORT=18082
ORTHO_SITE_URL=https://orthopedagogie.nathabee.de/
ORTHO_DB_NAME=orthopedagogie
ORTHO_DB_USER=orthopedagogie_user
ORTHO_DB_PASSWORD=change_me_prod_ortho_db_password
ORTHO_DB_ROOT_PASSWORD=change_me_prod_ortho_root_password
ORTHO_WP_FILES_MOUNT=./runtime/orthopedagogie:/var/www/html

TREGOR_PORT=18083
TREGOR_SITE_URL=https://orthopedagogiedutregor.nathabee.de/
TREGOR_DB_NAME=orthopedagogiedutregor
TREGOR_DB_USER=orthopedagogiedutregor_user
TREGOR_DB_PASSWORD=change_me_prod_tregor_db_password
TREGOR_DB_ROOT_PASSWORD=change_me_prod_tregor_root_password
TREGOR_WP_FILES_MOUNT=wp_orthopedagogiedutregor_data:/var/www/html
